@{
    var featured = await productService.GetFeaturedProductsAsync();
    var newProducts = await productService.GetNewProductsAsync();
}

<section class="top-selling">
    <div class="container">
        <div class="title">Top selling products in this week (Featured)</div>
        <div class="cards">
            @if (featured != null)
            {
                foreach (var features in featured)
                {
                    <div class="card">
                        <img src="@features.Image" alt="">
                        <div class="bottom">
                            <div class="title-price">
                                <div class="card-title">@features.Name</div>
                                <div class="card-price">@features.Price $</div>
                            </div>
                            <button class="add-cart"><i class="fa-regular fa-cart-plus"></i></button>
                        </div>
                    </div>
                }
            }

        <div class="navigator">
            <button class="left"><i class="fa-regular fa-chevron-left"></i></button>
            <button class="right"><i class="fa-regular fa-chevron-right"></i></button>
            <p>(New Products)</p>
        </div>
        <div class="large-cards">
            <div class="large-card">
                    @if (newProducts != null)
                    {
                        foreach (var newProduct in newProducts)
                        {
                            <div class="large-card">
                                <div class="top">
                                    <img src="@newProduct.Image" alt="">
                                </div>
                                <div class="bottom">
                                    <h3>@newProduct.Name</h3>
                                    <div class="price-cart">
                                        <p>@newProduct.Price $</p>
                                        <button class="add-cart"><i class="fa-regular fa-cart-plus"></i></button>
                                    </div>
                                </div>
                            </div>
                        }
                    }
            </div>
        </div>
    </div>
</section>
