@using Bmerketo.Models;
@model ProductModel
@{
}

<!-- Advert Start -->
<section class="advert">
    <img src="./images/Add your image here.svg" alt="">
    <div class="information">
        <h3>SHOP</h3>
        <p>HOME. PRODUCT DETAILS</p>
    </div>
</section>
<!-- Advert End -->
<!-- Product Start -->
<section class="product mt-5 mb-5">
    <div class="container">
        <div class="product-images">
            <div class="top-image">
                <img src="@Model.Image" alt="">
            </div>
            <div class="bottom-images">
                <img src="@Model.Image" alt="">
                <img src="@Model.Image" alt="">
                <img src="@Model.Image" alt="">
                <img src="@Model.Image" alt="">

            </div>
        </div>
        <div class="product-information">
            <div class="info-top">
                <h2>@Model.Name</h2>
                <p>@Model.Description</p>
            </div>
            <div class="info-bottom">
                <ul>
                    <li class="star"><i class="fa-solid fa-star"></i></li>
                    <li class="star"><i class="fa-solid fa-star"></i></li>
                    <li class="star"><i class="fa-solid fa-star"></i></li>
                    <li class="star"><i class="fa-solid fa-star"></i></li>
                    <li class="star"><i class="fa-solid fa-star"></i></li>
                    <p>16 Reviews</p>
                </ul>

                <h3 class="price">@Model.Price $</h3>

                <div class="add-cart">
                    <div class="quantity">
                        <button>-</button>
                        <div class="amount">2</div>
                        <button>+</button>
                    </div>
                    <button class="btn-toggle add-to-cart">Add To Cart <i class="fa-regular fa-cart-plus"></i></button>
                </div>

                <div class="stock">
                    <div class="status">
                        <div class="color"></div>
                        <div class="color"></div>
                        <div class="color"></div>
                    </div>
                    <div class="sku">SKU: N/A</div>
                </div>

                <button class="btn-toggle wishlist">Add To Wishlist</button>

                <p class="category">Category: Category</p>

            </div>
        </div>
    </div>
</section>
<!-- Product End -->
<!-- Description Start -->
<section class="description mt-3">
    <div class="container">
        <div class="options">
            <button class="option">DESCRIPTION</button>
            <button class="option">ADDITIONAL INFO</button>
            <button class="option">REVIEWS (0)</button>
            <button class="option">SHIPPING & DELIVERY</button>
        </div>
        <h2>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie.</h2>
        <div class="description-content">
            <div class="text">
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et cusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata santus est Lorem ipsum dolor sit amet. Lorem ipsum dolor.</p>
                <p>accusantium laborum pretium hic excepturi harum repellat facilisis convallis potenti, adipiscing lectus aliqua. Asperiores repudiandae ipsam error erat, accusamus, cum taciti unde?</p>
                <p>Praesentium, pariatur, tempora consequuntur purus sapiente, iaculis vitae consequatur, rhoncus earum eleifend, hendrerit ipsum rhoncus ex error, impedit! Alias laboris sequi curae aptent? Eu sagittis eu, distinctio tortor? Dapibus delectus! Consequuntur luctus. </p>
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et cusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata santus est Lorem ipsum dolor sit amet. Lorem ipsum dolor.</p>
            </div>
            <div class="image">
                <img src="./images/469x356.svg" alt="">
            </div>
        </div>
    </div>
</section>
<!-- Description End -->
<!-- Related Start -->
<section class="related">
    <div class="container">
        <h2>Related Products</h2>
        <div class="cards">
            <div class="card">
                <img src="./images/270x295.svg" alt="">
                <div class="bottom">
                    <div class="title-price">
                        <div class="card-title">Apple Watch Series</div>
                        <div class="card-price">$30.00</div>
                    </div>
                    <button class="add-cart"><i class="fa-regular fa-cart-plus"></i></button>
                </div>
            </div>
            <div class="card">
                <img src="./images/270x295.svg" alt="">
                <div class="bottom">
                    <div class="title-price">
                        <div class="card-title">Apple Watch Series</div>
                        <div class="card-price">$30.00</div>
                    </div>
                    <button class="add-cart"><i class="fa-regular fa-cart-plus"></i></button>
                </div>
            </div>
            <div class="card">
                <img src="./images/270x295.svg" alt="">
                <div class="bottom">
                    <div class="title-price">
                        <div class="card-title">Apple Watch Series</div>
                        <div class="card-price">$30.00</div>
                    </div>
                    <button class="add-cart"><i class="fa-regular fa-cart-plus"></i></button>
                </div>
            </div>
            <div class="card">
                <img src="./images/270x295.svg" alt="">
                <div class="bottom">
                    <div class="title-price">
                        <div class="card-title">Apple Watch Series</div>
                        <div class="card-price">$30.00</div>
                    </div>
                    <button class="add-cart"><i class="fa-regular fa-cart-plus"></i></button>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Related End -->
<!-- Extra Start -->
<div class="extra">
    <div class="container">
        <div class="cards">
            <img src="./images/200x122.svg" alt="">
            <img src="./images/200x122.svg" alt="">
            <img src="./images/200x122.svg" alt="">
            <img src="./images/200x122.svg" alt="">
            <img src="./images/200x122.svg" alt="">
        </div>
    </div>
</div>
<!-- Extra End -->
